services:
  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: himcentre-haccp-audit-bot
    restart: unless-stopped
    env_file:
      - ../.env
    volumes:
      # Монтируем папку с логами (если нужно)
      - ./logs:/app/logs
    networks:
      - bot-network
    # Если нужно ограничить ресурсы
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

networks:
  bot-network:
    driver: bridge
